body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#vis {
    width: 80%;
    max-width: 800px;
    margin-top: 5%;  /* Adjust this to control the distance from the top */
}

/* Center the title of the visualization */
.vega-embed {
    text-align: center;
}
